<header>
<div class="blog-name">
  <a href="/">willian</a>
</div>
<nav>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/projects/">projects</a></li>
    <li><a href="/blog/">blog</a></li>
  </ul>
  <img src="/assets/hamburger.svg" alt="hamburger menu icon" id="menu-icon">
</nav>
</header>

{{ isdef edited }}
  <div class="franklin-content edit">
    {{ if edited }} <i>This page was edited: <a href="{{ getfilehist }}">see commit history</a>.</i> {{ end }}
  </div>
{{ end }}
