<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if hasmath }} {{ insert head_katex.html }} {{ end }}
  {{ if hascode }} {{ insert head_highlight.html }} {{ end }}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
	{{ isdef css }} <link rel="stylesheet" href="{{ fill css }}"> {{ end }}
  {{ isdef favicon }} <link rel="icon" href="{{ fill favicon }}"> {{ end }}
  {{ isdef title }} <title>{{ fill title }}</title> {{ end }}
</head>
<body>
  {{ insert header.html }}

<!-- Content appended here -->
