<div class="page-foot">
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> {{ fill author }}. {{ isnotpage /tag/* }}Last modified: {{ fill fd_mtime }}.{{ end }}
    <br>
    Website built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>. <a href="https://codeberg.org/whou/website">Source code</a>.
</div>
