<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/css/custom.css">
  <title>Tag: {{ fill fd_tag }}</title>
</head>
<body>
  {{ insert header.html }}
  <div class="{{ div_content }}">
    <h1>Tag: {{ fill fd_tag }}</h1>
    {{ taglist }}
    {{ insert page_foot.html }}
  </div>
</body>
</html>
